<main >
    <div id="idprivate">

        <h1 id="idLoginTitle">{{title}}</h1>

        <div class="formDiv">
            <form method="POST" id="login-form" action="\login">
                <div class="divusername">
                    <label for="idusername">Username :</label>
                    <input name="username" id="idusername" placeholder="Username">
                </div>
                <div class="divpassword">
                    <label for="idpassword">Password :</label>
                    <input name="password" id="idpassword" placeholder="Password">
                </div>
                <div class="divbutton">
                    <button type="submit" id="myBtn">Check</button>
                </div>

            </form>
        </div>

        <div>
            <h2 id="idMessage">{{message}}</h2>
        </div>

    </div>
</main>